{namespace zz.mvc.templates}

/**
 * @param uid
 */
{template .dataset}
    <div
        data-set={$uid}>
    </div>
{/template}

/**
 * @param clientEvent
 * @param fields
 * @param datarow
 * @param uid
 */
{template .datarow}
    <div
        data-row={$uid}>
        <div
            contenteditable="true"
            data-field="{$fields.id}">
            {$datarow.id}
        </div>
        <input
            data-field="{$fields.test}"
            data-event="{$clientEvent.CHANGE}"
            value={$datarow.test}
        >
    </div>
{/template}

/**
 * @param uid
 */
{template .appDataset}
    <div
    class="{css application}"
        data-set={$uid}>
    </div>
{/template}

/**
 * @param fields
 * @param datarow
 * @param uid
 */
{template .appDatarow}
    <div
        data-row={$uid}>
        <div
            class="{css application--data}"
            data-field="{$fields.title}">
            {$datarow.title}
        </div>
        <div
            class="{css application--data}"
            data-field="{$fields.version}">
            {$datarow.version}
        </div>
        <div
            class="{css application--data}"
            data-field="{$fields.authors}">
            {$datarow.authors}
        </div>
        <div
            class="{css application--data}"
            data-field="{$fields.copyright}">
            {$datarow.copyright}
        </div>
        <div
            class="{css layout}"
            data-type="{$fields.layout}">
        </div>
    </div>
{/template}

/**
 * @param uid
 */
{template .layoutDataset}
    <div
        data-set={$uid}>
    </div>
{/template}

/**
 * @param clientEvent
 * @param fields
 * @param datarow
 * @param uid
 */
{template .layoutDatarow}
    <div
        data-row={$uid}>
        <input
            data-field="{$fields.width}"
            data-event="{$clientEvent.CHANGE}"
            value={$datarow.width}
        >
        <input
            data-field="{$fields.height}"
            data-event="{$clientEvent.ACTION}"
            value={$datarow.height}
        >
        <div
            class="{css view}"
            data-type="{$fields.views}">
        </div>
    </div>
{/template}


/**
 * @param uid
 */
{template .viewDataset}
    <div
        data-set={$uid}>
    </div>
{/template}

/**
 * @param fields
 * @param datarow
 * @param uid
 */
{template .viewDatarow}
    <div
        class="{css mdl-card}"
        data-row={$uid}>
        <div
            data-field="{$fields.title}">
            {$datarow.title}
        </div>
        <div
            class="{css widget}"
            data-type="{$fields.widgets}">
        </div>
    </div>
{/template}

/**
 * @param uid
 */
{template .widgetDataset}
    <div
        data-set={$uid}>
    </div>
{/template}

/**
 * @param fields
 * @param datarow
 * @param uid
 */
{template .widgetDatarow}
    <div
        data-row={$uid}>
        <div
            data-field="{$fields.title}">
            {$datarow.title}
        </div>
    </div>
{/template}